<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <%- include header %>
  <div class="right">
      <center><h2>注册</h2>
          <hr/>
  <form method="post" name="form" id="form" action="./register">
      <table>
          <tbody>
          <tr>
              <td><label for="username">用户名:</label></td>
              <td><input type="text" id="username" name="username" placeholder="请输入用户名"/></td>
          </tr>
          <tr>
              <td><label for="password">密码:</label></td>
              <td><input type="password" id="password" name="password" placeholder="请输入密码"/></td>
          </tr>
          <tr>
              <td><label for="comfirm_pwd">再次输入密码:</label></td>
              <td><input type="password" id="comfirm_pwd" name="comfirm_pwd" placeholder="请再次输入密码"/></td>
          </tr>
          <tr><td colspan="2" class="btn"><input type="submit" value="注册"/></td></tr>
          </tbody>
      </table>
  </form>
          </center>
  </div>
  </body>
</html>